<!DOCTYPpython3
< html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Snapdragon Followers Counter - Brazil & Latam</title>

  <link rel="apple-touch-icon" sizes="180x180" href="https://www.spinoff.digital/Fapple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.spinoff.digital/Ffavicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.spinoff.digital/Ffavicon-16x16.png">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>

  <section class="logo-wrapper">
    <div class="logo-stats">
        <img src="https://www.spinoff.digital/picture2.png" alt="Logo" style="width:600px;height:100px;">
    </div>
    </section>

  {% if records|length %}
    <section class="large-stats-wrapper">
      <div class="large-stats">

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">eMails</h2>
          <span class="stat__number">{{ records[0]['emailC'] }}</span>
        </div>

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">YouTube BR</h2>
          <span class="stat__number">{{ records[0]['youtube'] }}</span>
        </div>

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">Twitter BR</h2>
          <span class="stat__number">{{ records[0]['twitter'] }}</span>
        </div>
      
        <div class="stat">
          <h2 class="stat__title stat__title--twitter">Insta BR</h2>
          <span class="stat__number">{{ records[0]['instagram'] }}</span>
        </div>


        <div class="stat">
          <h2 class="stat__title stat__title--twitter">TikTok BR</h2>
          <span class="stat__number">{{ records[0]['tiktokB'] }}</span>
        </div>

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">YouTube LT</h2>
          <span class="stat__number">{{ records[0]['youtubeL'] }}</span>
        </div>

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">Twitter LT</h2>
          <span class="stat__number">{{ records[0]['twitterL'] }}</span>
        </div>

        <div class="stat">
          <h2 class="stat__title stat__title--twitter">Insta LT</h2>
          <span class="stat__number">{{ records[0]['instagramL'] }}</span>
        </div>
        

      <div class="stat">
        <h2 class="stat__title stat__title--twitter">TikTok LT</h2>
        <span class="stat__number">{{ records[0]['tiktokL'] }}</span>
      </div>

        <div class="stat">
          <h2 class="stat__title stat__title--youtube">TOTAL</h2>
          <span class="stat__number">{{ records[0]['total'] }}</span>
       </div>
       
      </div>
    </section>
  {% endif %}

  <section class="records">
    <div class="table-wrapper">
      <div class="table">
        <div class="table__row">
          <div class="table__cell">Date</div>
          <div class="table__cell">eMails</div>
          <div class="table__cell">YouTubeBR</div>
          <div class="table__cell">TwitterBR</div>
          <div class="table__cell">InstagramBR</div>
          <div class="table__cell">TikTokB</div>
          <div class="table__cell">YouTubeLT</div>
          <div class="table__cell">TwitterLT</div>
          <div class="table__cell">InstagramL</div>
          <div class="table__cell">TikTokL</div>
          <div class="table__cell">TOTAL</div>
        </div>
        {% for entry in records %}
          <div class="table__row">
            <div class="table__cell">{{ entry['date'] }}</div>
            <div class="table__cell">{{ entry['emailC'] }}</div>
            <div class="table__cell">{{ entry['youtube'] }}</div>
            <div class="table__cell">{{ entry['twitter'] }}</div>
            <div class="table__cell">{{ entry['instagram'] }}</div>
            <div class="table__cell">{{ entry['tiktokB'] }}</div>
            <div class="table__cell">{{ entry['youtubeL'] }}</div>
            <div class="table__cell">{{ entry['twitterL'] }}</div>
            <div class="table__cell">{{ entry['instagramL'] }}</div>
            <div class="table__cell">{{ entry['tiktokL'] }}</div>
            <div class="table__cell">{{ entry['total'] }}</div>
          </div>
        {% else %}
          <div class="table__row">
            <div class="table__cell">No records yet</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <script>  
  </script>


</body>

</html>
